<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" placeholder="Price" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Image</mat-label>
    <input matInput formControlName="image" placeholder="Image" />
  </mat-form-field>
  <button class="button mr-5" mat-flat-button type="submit">
    Добавить товар
  </button>
  <button class="button" mat-flat-button (click)="onNoClick()">Отмена</button>
</form>
